.heading {
  font-size: large;
  color: rgb(83, 83, 83);
  font-style: italic;
}

.shopItem {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 40%;
  margin: 10px;
}

#shopList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline-start: 0px;
}
.stroked {
  text-decoration: line-through;
}
